node_modules
*.zip
*.xml
compass/peru-consult-api
Formato/~$Formato_Cta_Cobrar.xlsx
Formato/Formato_Cta_Cobrar.xlsx
Formato/Formato_Cta_Pagar.xlsx
Formato/Formato_Det_Pagar.xlsx
Formato/Formato_Kardex.xlsx
Formato/Formato_Libro_Diario5.1.xlsx
Formato/Formato_Libro_Diario5.2.xlsx
Formato/Formato_Libro_DiarioNDig.xlsx
Formato/Formato_Libro_Mayor6.1.xlsx
Formato/Formato_Libro_MayorNDig.xlsx
Formato/Formato_Liquidacion_Caja.xlsx
Formato/Formato_Reg_Compra.xlsx
Formato/Formato_Reg_Venta.xlsx
Formato/Formato_Rep_Pago.xlsx
Formato/Formato_Reporte_Cobros.xlsx
Formato/Formato_Reporte_Egresos.xlsx
Formato/Formato_Reporte_Ingresos.xlsx
Formato/Formato_Reporte_Pagos.xlsx
Formato/Formato_Resumen_Caja.xlsx
Formato/Formato_Stock_Prd.xlsx
Formato/Formato_Stock_Resumen_Prd.xlsx
Formato/Formato_Utilidad.xlsx
*.xlsx
compass/peru-consult-api
