<!-- start: OFF RIGHT SIDEBAR TABSET -->

<!-- start: TAB USER -->
<div style="text-align: center;padding: 5px;">
    <i class="ti-settings" style="font-size: 35px; color: #fff;"></i>
</div>

<!-- /// controller:  'ChatCtrl' -  localtion: STANDARD/assets/js/controllers/chatCtrl.js /// -->

<h4 class="sidebar-title "><i class="ti-briefcase "> </i> Tu Empresa</h4>

<ul class="media-list ">
    <li class="media ">
        <a ui-sref="app.ajustes.cuenta">
            <div class="media-body">
                <h4 class="media-heading">Cuentas y Ajustes</h4>
            </div>
        </a>
    </li>
    <li class="media">
        <a ui-sref="app.ajustes.cuentasujeto">
            <div class="media-body">
                <h4 class="media-heading">Usuarios y Sujetos</h4>
            </div>
        </a>
    </li>
    <li class="media">
        <a ui-sref="app.ajustes.confisunat">
            <div class="media-body">
                <h4 class="media-heading">Configuración Sunat</h4>
            </div>
        </a>
    </li>
    <li class="media">
        <a href>
            <div class="media-body">
                <h4 class="media-heading">Formatos Estilos</h4>
            </div>
        </a>
    </li>
</ul>
<h4 class="sidebar-title"><i class="ti-view-list"> </i> Lista</h4>
<ul class="media-list">
    <li class="media">
        <a ui-sref="app.listas">
            <div class="media-body">
                <h4 class="media-heading">Todas las listas</h4>
            </div>
        </a>
    </li>
    <li class="media ">
        <a href>

            <div class="media-body ">
                <h4 class="media-heading ">Inventarios</h4>
            </div>
        </a>
    </li>
    <li class="media ">
        <a href>

            <div class="media-body ">
                <h4 class="media-heading ">Transacciones Recurrentes</h4>
            </div>
        </a>
    </li>
    <li class="media ">
        <a href>

            <div class="media-body ">
                <h4 class="media-heading ">Accesorios</h4>
            </div>
        </a>
    </li>

</ul>


<h4 class="sidebar-title "><i class="ti-panel "> </i> Herramientas</h4>

<ul class="media-list">
    <li class="media">
        <a href>
            <div class="media-body ">
                <h4 class="media-heading ">Importar Datos</h4>
            </div>
        </a>
    </li>
    <li class="media ">
        <a href>

            <div class="media-body ">
                <h4 class="media-heading ">Exportar Datos</h4>
            </div>
        </a>
    </li>
    <li class="media ">
        <a href>

            <div class="media-body ">
                <h4 class="media-heading ">Transacciones Recurrentes</h4>
            </div>
        </a>
    </li>
    <li class="media ">
        <a href>

            <div class="media-body ">
                <h4 class="media-heading ">Conciliaciones</h4>
            </div>
        </a>
    </li>
    <li class="media ">
        <a href>

            <div class="media-body ">
                <h4 class="media-heading ">Registro de Auditoria</h4>
            </div>
        </a>
    </li>

</ul>i