<form name="form">
    <div class="modal-header">
        <button type="button" class="btn btn-link"><i class="ti-help"></i></button>
        <button type="button" class="btn btn-link"><i class="ti-settings"></i></button>
        <button type="button" class="btn btn-link" ng-click="cancel()"><i class="ti-close"></i></button>
        <h3 class="titulo-modal">Tipos de Sujetos</h3>
    </div>
    <div class="container-fluid">
        <div class="modal-body" ng-controller="DatepickerDemoCtrl">
                <div class="row">

                <div class="col-md-12 col-md-12">

                    <div class="row" style="padding: 10px;">

                        <div class="col-md-12">
                            <label for="ts_id" ng-class="{'text-danger':form.ts_id.$error.required == true}">Tipo
                                Código</label>
                            <input required type="text" class="form-control" id="ts_id" name="ts_id"
                                ng-model="infoInputs['ts_id']">
                        </div>

                        <div class="col-md-12">
                            <label for="ts_des"
                                ng-class="{'text-danger':form.ts_des.$error.required == true}">Descripción</label>
                            <input required type="text" class="form-control" id="ts_des" name="ts_des"
                                ng-model="infoInputs['ts_des']">
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div style="display: flex; align-items: flex-end;">
            <div role="group" aria-label="tools">
                <button class="btn btn-primary" ng-disabled="form.$error.required"
                    ng-click="guardartpoSuj()">Guardar y Cerrar</button>
            </div>
        </div>

    </div>
</form>