<form name="form" novalidate>
    <div class="header-modal2">
        <div class="pull-right">
            <div role="group" aria-label="tools">
                <button class="btn btn-primary" ng-disabled="form.$error.required" ng-click="ok(infoInputs)">Guardar y Cerrar</button>
                <button type="button" class="btn btn-link"><i class="ti-help"></i></button>
                <button type="button" class="btn btn-link"><i class="ti-settings"></i></button>
                <button type="button" class="btn btn-link" ng-click="cancel($event)"><i class="ti-close"></i></button>
            </div>
        </div>
        <h3 class="titulo-modal">Servicios</h3>
    </div>
    <div class="modal-body" style="padding: 30px;">
        <div class="row" ng-controller="SelectCtrl">

            <div class="col-md-12">
                <label for="pro_nom" ng-class="{'text-danger':form.pro_nom.$error.required == true}">Nombre del Servicio</label>
                <input required type="text" class="form-control" id="pro_nom" name="pro_nom" ng-model="infoInputs['pro_nom']">
            </div>
            <div class="col-md-4">
                <label for="form-field-select-2" ng-class="{'text-danger':form.dh.$invalid == true}">
                    Debe / Haber
                </label>
                <select name="dh" ng-model="infoInputs['dh']" class="cs-select cs-skin-elastic" required>
                    <option value="d">Debe</option>
                    <option value="h">Haber</option>
                </select>
            </div>
            <div class="col-md-8" ng-controller="SweetAlertCtrl">
                <label for="" ng-class="{'text-danger':myform.cuenta_contable.$error.required == true}">Cuenta Contable</label>
                <div class="input-group">
                    <input required type="hidden" class="form-control" name="cuenta_contable" ng-model="infoInputs.cuenta_contable">
                    <input type="text" class="form-control" name="buscarPlanCuenta" ng-model="infoInputs.buscarPlanCuenta">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"
                            ng-click="SwalBuscarPlanCuenta(infoInputs.buscarPlanCuenta)">
                            <i class="ti-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>