<div class="container-fluid" ng-controller="ModalDemoCtrl">
    <div class="header-ser">
        <h3>Productos y Servicios</h3>
    </div>
    <div class="ui relaxed divided list">

        <ul class="navegador">
            <li>
                <a ng-click="ok()">
                    <div class="item-content2">
                        <div class="item-media2">
                            <i class="ti-package"></i>
                        </div>
                        <div class="item-inner2">
                            Productos
                            <div class="description">Updated 10 mins ago</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a ng-click="ok1_1()">
                    <div class="item-content2">
                        <div class="item-media2">
                            <i class="fal fa-capsules"></i>
                        </div>
                        <div class="item-inner2">
                            Productos Medicos
                            <div class="description">Updated 10 mins ago</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a ng-click="ok2()">
                    <div class="item-content2">
                        <div class="item-media2">
                            <i class="ti-headphone-alt"></i>
                        </div>
                        <div class="item-inner2">
                            Servicios
                            <div class="description">Updated 22 mins ago</div>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a ng-click="ok3()">
                    <div class="item-content2">
                        <div class="item-media2">
                            <i class="ti-stats-down"></i>
                        </div>
                        <div class="item-inner2">
                            Gastos
                            <div class="description">Updated 34 mins ago</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a ng-click="ok4()">
                    <div class="item-content2">
                        <div class="item-media2">
                            <i class="ti-archive"></i>
                        </div>
                        <div class="item-inner2">
                            Activos Fijo
                            <div class="description">Updated 34 mins ago</div>
                        </div>
                    </div>
                </a>

            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="item-content2">
                        <div class="item-media2">
                            <i class="ti-medall"></i>
                        </div>
                        <div class="item-inner2">
                            Promociones
                            <div class="description">Updated 34 mins ago</div>
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>


</div>