<form novalidate name="myform">
    <div>
        <div class="header-modal2">
            <div class="pull-right">
                <div role="group" aria-label="tools">
                    <button class="btn btn-primary" ng-disabled="myform.$error.required" ng-click="guardarProductoyServicio(infoInputs)">Guardar y Cerrar</button>
                    <button type="button" class="btn btn-link"><i class="ti-help"></i></button>
                    <button type="button" class="btn btn-link"><i class="ti-settings"></i></button>
                    <button type="button" class="btn btn-link" ng-click="cancel($event)"><i class="ti-close"></i></button>
                </div>
            </div>
            <h3 class="titulo-modal">Productos</h3>
        </div>
        <div class="modal-body" style="padding: 30px;" ng-controller="DatepickerDemoCtrl">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="form-field-select-2" ng-class="{'text-danger':myform.pro_tip.$invalid == true}">
                        Tipo de Producto
                    </label>
                        <select required ng-model="infoInputs['pro_tip']" class="ui fluid dropdown" id="pro_tip" name="pro_tip" ng-init="buscarOption(rr.pro_tip)">
                        <option value="{{opt.id}}" ng-repeat="opt in units['pro_tip']">{{opt.label}}</option>
                    </select>
                    </div>
                    <div class="col-md-3">
                        <label for="pro_cod" ng-class="{'text-danger':myform.pro_cod.$invalid == true}">Código de Producto </label>
                        <input required ng-model="infoInputs['pro_cod']" type="text" class="form-control" id="pro_cod" name="pro_cod">
                    </div>
                    <div class="col-md-3">
                        <label for="pro_codalt">Código Alternativo</label>
                        <input ng-model="infoInputs['pro_codalt']" type="number" class="form-control" id="pro_codalt" name="pro_codalt">
                    </div>
                    <div class="col-md-8">
                        <label for="pro_nom" ng-class="{'text-danger':myform.pro_nom.$error.required == true}">Nombre del Producto</label>
                        <input required ng-model="infoInputs['pro_nom']" type="text" class="form-control" id="pro_nom" name="pro_nom">
                    </div>
                    <div class="col-md-4">
                        <label for="pro_bar">Código de Barra / SKU</label>
                        <input ng-model="infoInputs['pro_bar']" type="number" class="form-control" id="pro_bar">
                    </div>
                    <div class="col-md-4">
                        <label for="form-field-select-2" ng-class="{'text-danger':myform.pst_id.$invalid == true}">
                        Presentación Unitaria
                    </label>
                        <select required ng-model="infoInputs['pst_id']" class="ui fluid dropdown" id="pst_id" name="pst_id" ng-init="buscarOption(rr.pst_id)">
                        <option value="{{opt.id}}" ng-repeat="opt in units['pst_id']">{{opt.label}}</option>
                    </select>
                    </div>
                    <div class="col-md-4">
                        <label for="pro_fac" ng-class="{'text-danger':myform.pro_fac.$error.required == true}">Factor</label>
                        <input required ng-model="infoInputs['pro_fac']" type="text" class="form-control" id="pro_fac" name="pro_fac">
                    </div>
                    <div class="col-md-4">
                        <label for="form-field-select-2">
                        Marca
                    </label>
                        <select ng-model="infoInputs['mar_id']" class="ui fluid dropdown" id="mar_id" name="mar_id" ng-init="buscarOption(rr.mar_id)">
                        <option value="{{opt.id}}" ng-repeat="opt in units['mar_id']">{{opt.label}}</option>
                    </select>
                    </div>
                    <div class="col-md-4">
                        <label for="lin_id">Linea</label>
                        <input ng-model="infoInputs['lin_id']" type="text" class="form-control" id="lin_id">
                    </div>
                    <div class="col-md-4">
                        <label for="cat_id">Categoría</label>
                        <a popover-placement="top" uib-popover-template="'assets/sistem-views/inventarios/popover-crear-categorias.html'" popover-trigger="mouseenter" class="">
                        +
                    </a>
                        <select ng-model="infoInputs['cat_id']" class="ui fluid dropdown" id="cat_id" name="cat_id" ng-init="buscarOption(rr.cat_id)">
                        <option value="{{opt.id}}" ng-repeat="opt in units['cat_id']">{{opt.label}}</option>
                    </select>
                    </div>
                    <div class="col-md-4">
                        <label for="scat_id">Sub-Categoría</label>
                        <a popover-placement="top" uib-popover-template="'assets/sistem-views/inventarios/popover-crear-subcategorias.html'" popover-trigger="mouseenter" class="">
                        +
                    </a>
                        <select ng-model="infoInputs['scat_id']" class="ui fluid dropdown" id="scat_id" name="scat_id" ng-init="buscarOption(rr.scat_id)">
                        <option value="{{opt.id}}" ng-repeat="opt in units['scat_id']">{{opt.label}}</option>
                    </select>
                    </div>
                    <hr>
                    <div class="col-md-3">
                        <label for="pro_isc">% ISC</label>
                        <input ng-model="infoInputs['pro_isc']" type="number" maxlength="2" class="form-control" id="pro_isc">
                    </div>
                   <!--  <div class="col-md-3">
                        <label for="pro_sal">Saldo Inicial</label>
                        <input ng-model="infoInputs['pro_sal']" type="text" class="form-control" id="pro_sal">
                    </div> -->
                    <div class="col-md-3">
                        <label for="pro_pre" ng-class="{'text-danger':myform.pro_pre.$invalid == true}">Costo del Producto</label>
                        <input required ng-model="infoInputs['pro_pre']" type="number" class="form-control" id="pro_pre" name="pro_pre" value="{{2500 | currency:'s/.'}}">
                    </div>
                    <div class="col-md-3">
                        <label for="pro_pes" ng-class="{'text-danger':myform.pro_pes.$invalid == true}">Peso (Kg.)</label>
                        <input required ng-model="infoInputs['pro_pes']" type="text" class="form-control" id="pro_pes" name="pro_pes">
                    </div>
                    <div class="col-md-12" style="padding-top: 10px;">
                        <div class="panel-body">
                            <input style="margin-right:5px;" ng-model="infoInputs['pro_ina']" type="checkbox" id="pro_ina" ng-value="1">
                            <label for="pro_ina">
                              No Gravado con IGV
                            </label>
                           <input style="margin-right:5px;" ng-model="infoInputs['pro_detraccion']" type="checkbox" id="pro_detraccion" ng-value="1">
                            <label for="pro_detraccion">
                              Sujeto a Detracción   
                            </label>
                            <input style="margin-right:5px;" ng-model="infoInputs['pro_importacion']" type="checkbox" id="pro_importacion" ng-value="1">
                            <label for="pro_importacion">
                              Producto Importado
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>