<div class="container" ng-controller="cuentaAjusteCtrl">
    <div class="ui secondary menu">
        <a class="item" ui-sref-active="active" ng-class="{'active open':$state.includes('app.ajustes.cuenta')}"
            ui-sref="app.ajustes.cuenta">
            <span class="title">Compañia</span>
        </a>
        <a class="item" ui-sref-active="active" ng-class="{'active open':$state.includes('app.ajustes.compraCuenta')}"
            ui-sref="app.ajustes.compraCuenta">
            <span class="title">Compras</span>
        </a>
        <a class="item" ui-sref-active="active" ng-class="{'active open':$state.includes('app.ajustes.ventaCuenta')}"
            ui-sref="app.ajustes.ventaCuenta">
            <span class="title">Ventas</span>
        </a>
        <div class="right menu">
            <div ncy-breadcrumb></div>
        </div>
    </div>
    <!-- start: PAGE TITLE -->
    <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-12">
            <h1>Cuentas y Ajustes</h1>
        </div>
    </div>
    <div class="row">
        <div class="tab-content">
            <!-- end ngRepeat: tab in tabset.tabs -->
            <div class="tab-pane ng-scope active" ng-class="{active: tabset.active === tab.index}"
                uib-tab-content-transclude="tab">

                <fieldset>
                    <legend>
                        Información de la Cuenta
                    </legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"
                                    ng-class="{'text-danger':form.firstname.$error.required == true}">
                                    Nombre de la Compañia
                                    <i ng-class="{'ti-bell':form.firstname.$invalid == true}"></i>
                                </label>
                                <input required type="text" placeholder="Enter your first name" class="form-control"
                                    name="firstname" ng-model="infoInputs[0].emp_nom">
                            </div>
                            <div class="form-group">
                                <label class="control-label"
                                    ng-class="{'text-danger':form.lastname.$error.required == true}">
                                    Nombre Comercial o Alias
                                    <i ng-class="{'ti-bell':form.lastname.$invalid == true}"></i>
                                </label>
                                <input required type="text" placeholder="Enter your last name" class="form-control"
                                    name="lastname" ng-model="infoInputs[0].emp_nomcom">
                            </div>

                            <div class=" form-group ">
                                <label class="control-label"
                                    ng-class="{'text-danger':form.email.$error.required == true}">
                                    Email de la Compañia
                                    <i ng-class="{'ti-bell':form.email.$invalid == true}"></i>
                                </label>
                                <input required type="email"
                                    class="form-control ng-pristine ng-valid ng-not-empty ng-valid-email ng-touched"
                                    name="email" readonly ng-model="infoInputs[0].emp_ema">
                            </div>
                            <div class="form-group ">
                                <label class="control-label" ng-class="{'text-danger':form.phone.$invalid == true}">
                                    Teléfono de la Compañia
                                    <i ng-class="{'ti-bell':form.phone.$invalid == true}"></i>
                                </label>
                                <input required type="text " placeholder="Phone number"
                                    class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="phone"
                                    ng-model="infoInputs[0].emp_tel">
                            </div>
                            <div class="form-group">
                                <label class="control-label" ng-class="{'text-danger':form.movil.$invalid == true}">
                                    Teléfono Movil
                                    <i ng-class="{'ti-bell':form.movil.$invalid == true}"></i>
                                </label>
                                <input required type="text" placeholder="Movil number" name="movil"
                                    class="form-control ng-pristine ng-valid ng-not-empty ng-touched"
                                    ng-model="infoInputs[0].emp_cel">
                            </div>
                            <div class="form-group ">
                                <label class="control-label"
                                    ng-class="{'text-danger':form.url.$error.required == true}">
                                    Sitio Web
                                    <i ng-class="{'ti-bell':form.url.$invalid == true}"></i>
                                </label>
                                <input required type="text" placeholder="Enter Url"
                                    class="form-control ng-pristine ng-valid ng-not-empty ng-touched" name="url"
                                    ng-model="infoInputs[0].url_web">
                            </div>
                            <!-- <div class="form-group"> -->
                            <!-- <label class=""></label> -->
                            <!-- </div> -->
                        </div>

                        <div class="col-md-6">
                            <div class="center">
                                <h4 class="ng-binding ">Logo de la Compañia</h4>
                                <form id="formularioCargaLogo" method="POST" enctype="multipart/form-data">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="input-group" class="col-md-6">
                                                <label ng-class="{'text-danger':form.ane_alias.$invalid == true}">
                                                    Upload a File:
                                                </label>
                                                <input class="form-control" type="file" name="uploadedFile"
                                                    class="form-control" />
                                            </div>
                                            <div class="input-group" class="col-md-6">
                                                <div class="">
                                                    <button class="btn btn-primary" name="uploadBtn"
                                                        ng-click="enviarLogo($event)">Guardar Logo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <pre>
                                    {{infoInputs | json}}
                                </pre>
                                <div class="user-image">
                                    <div class="thumbnail">
                                        <img class="ng-scope" ng-src="api/upload/">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-4 ">
                                    <div class="form-group ">
                                        <label class="control-label"
                                            ng-class="{'text-danger':form.zipcode.$invalid == true}">
                                            RUC
                                            <i ng-class="{'ti-bell':form.zipcode.$invalid == true}"></i>
                                        </label>
                                        <input required
                                            class="form-control ng-pristine ng-untouched ng-valid ng-not-empty "
                                            placeholder="enter a zip code" type="text" name="zipcode"
                                            ng-model="infoInputs[0].emp_ruc">
                                    </div>
                                </div>
                                <div class="col-md-8 ">
                                    <div class="form-group ">
                                        <label class="control-label"
                                            ng-class="{'text-danger':form.city.$error.required}">
                                            Dirección de la Compañia
                                            <i ng-class="{'ti-bell':form.city.$invalid == true}"></i>
                                        </label>
                                        <input required
                                            class="form-control ng-pristine ng-untouched ng-valid ng-not-empty "
                                            placeholder="Ingrese su dirección" type="text " name="city"
                                            ng-model="infoInputs[0].emp_dir ">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label"
                                            ng-class="{'text-danger':form.ubigeo.$invalid == true}">
                                            Ubigeo
                                            <i ng-class="{'ti-bell':form.ubigeo.$invalid == true}"></i>
                                        </label>
                                        <input required type="text" placeholder=" Ubige"
                                            class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                            name="ubigeo" ng-model="infoInputs[0].ubi_id">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label"
                                            ng-class="{'text-danger':form.retention.$invalid == true}">
                                            Retención
                                            <i ng-class="{'ti-bell':form.retention.$invalid == true}"></i>
                                        </label>
                                        <input required type="text" placeholder=" Retention" name="retention"
                                            class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                            ng-model="infoInputs[0].emp_ret">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label"
                                            ng-class="{'text-danger':form.detraccion.$invalid == true}">
                                            Detracción
                                            <i ng-class="{'ti-bell':form.detraccion.$invalid == true}"></i>
                                        </label>
                                        <input required type="text" placeholder="Drawn down"
                                            class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                            name="detraccion" ng-model="infoInputs[0].emp_det">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label"
                                            ng-class="{'text-danger':form.perception.$invalid == true}">
                                            Percepción
                                            <i ng-class="{'ti-bell':form.perception.$invalid == true}"></i>
                                        </label>
                                        <input required type="text" placeholder="Perception"
                                            class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                            name="perception" ng-model="infoInputs[0].emp_per">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label"
                                            ng-class="{'text-danger':form.igv.$invalid == true}">
                                            IGV / IVA
                                            <i ng-class="{'ti-bell':form.igv.$invalid == true}"></i>
                                        </label>
                                        <input required type="text" placeholder="IGV / IVA"
                                            class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                            name="igv" ng-model="infoInputs[0].emp_igv">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label"
                                            ng-class="{'text-danger':form.decimal.$invalid == true}">
                                            Décimal
                                            <i ng-class="{'ti-bell':form.decimal.$invalid == true}"></i>
                                        </label>
                                        <input required type="text" placeholder="Decimal" name="decimal"
                                            class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                            ng-model="infoInputs[0].emp_dec">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button class="btn btn-primary" ng-disabled="form.$error.required" type="submit" ng-click="guardar()">
                    Guardar
                </button>

            </div>
        </div>
    </div>
</div>