<form name="form" novalidate>
    <div class="container" ng-controller="cuentaAjusteCtrl">
        <div ng-controller="AsideModalTransaccionCtrl">
            <div class="ui secondary menu">
                <a class="item" ui-sref-active="active" ng-class="{'active open':$state.includes('app.ajustes.cuenta')}"
                    ui-sref="app.ajustes.cuenta">
                    <span class="title">Compañia</span>
                </a>
                <a class="item" ui-sref-active="active"
                    ng-class="{'active open':$state.includes('app.ajustes.compraCuenta')}"
                    ui-sref="app.ajustes.compraCuenta">
                    <span class="title">Compras</span>
                </a>
                <a class="item" ui-sref-active="active"
                    ng-class="{'active open':$state.includes('app.ajustes.ventaCuenta')}"
                    ui-sref="app.ajustes.ventaCuenta">
                    <span class="title">Ventas</span>
                </a>
                <div class="right menu">
                    <div ncy-breadcrumb></div>
                </div>
            </div>
            <!-- start: PAGE TITLE -->
            <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-12">
                    <h1>Ventas Ajustes</h1>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid container-fullw bg-white ng-scope">
                    <div class="">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="two fields">
                                        <div class="field">
                                            <label for="id_doc" ng-class="{'text-danger':form.id_doc.$invalid == true}">
                                                Tipo de Documento
                                            </label>
                                            <select class="ui fluid dropdown" required ng-model="infoInputs['id_doc']"
                                                id="id_doc" name="id_doc" ng-init="buscarOption(rr.id_doc)">
                                                <option value="{{opt.id}}" ng-repeat="opt in units['id_doc']">
                                                    {{opt.label}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="field">
                                        <label for="">Serie de Documento</label>
                                        <div class="ui fluid action input">
                                            <input type="text" placeholder="Search...">
                                            <button class="icon button">
                                                <i class="search icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="two fields">
                                        <div class="field">
                                            <label for="ip_id" ng-class="{'text-danger':form.ip_id.$invalid == true}">
                                                Lista de Precios
                                            </label>
                                            <select class="ui fluid dropdown" required ng-model="infoInputs['ip_id']"
                                                id="ip_id" name="ip_id" ng-init="buscarOption(rr.ip_id)">
                                                <option value="{{opt.id}}" ng-repeat="opt in units['ip_id']">
                                                    {{opt.label}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="two fields">
                                        <div class="field">
                                            <label for="fp_id" ng-class="{'text-danger':form.fp_id.$invalid == true}">
                                                Forma de Pago
                                            </label>
                                            <select class="ui fluid dropdown" required ng-model="infoInputs['fp_id']"
                                                id="fp_id" name="fp_id" ng-init="buscarOption(rr.fp_id)">
                                                <option value="{{opt.id}}" ng-repeat="opt in units['fp_id']">
                                                    {{opt.label}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="two fields">
                                        <div class="field">
                                            <label for="alm_id" ng-class="{'text-danger':form.alm_id.$invalid == true}">
                                                Almacén
                                            </label>
                                            <select class="ui fluid dropdown" required ng-model="infoInputs['alm_id']"
                                                id="alm_id" name="alm_id" ng-init="buscarOption(rr.alm_id)">
                                                <option value="{{opt.id}}" ng-repeat="opt in units['alm_id']">
                                                    {{opt.label}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="two fields">
                                        <div class="field">
                                            <label for="id_moneda"
                                                ng-class="{'text-danger':form.id_moneda.$invalid == true}">
                                                Moneda
                                            </label>
                                            <select class="ui fluid dropdown" required
                                                ng-model="infoInputs['id_moneda']" id="id_moneda" name="id_moneda"
                                                ng-init="buscarOption(rr.id_moneda)">
                                                <option value="{{opt.id}}" ng-repeat="opt in units['id_moneda']">
                                                    {{opt.label}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-primary" ng-disabled="form.$error.required"
                                        ng-click="Guardar()" type="submit"> Guardar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>