<form name="form" novalidate>
    <div class="modal-header">
        <div class="pull-right">
            <div role="group" aria-label="tools">
                <button type="button" class="btn btn-link"><i class="ti-help"></i></button>
                <button type="button" class="btn btn-link"><i class="ti-settings"></i></button>
                <button type="button" class="btn btn-link" ng-click="cancel()"><i class="ti-close"></i></button>
            </div>
        </div>
        <h3 class="titulo-modal">Presentaciones</h3>
    </div>
    <div class="container-fluid">
        <div class="modal-body" style="padding: 30px;" ng-controller="DatepickerDemoCtrl">
       
            <div class="row">

                <div class="row" style="padding: 10px;">

                    <div class="col-md-12">
                        <label for="serie" ng-class="{'text-danger':form.pst_id.$invalid == true}">Código de Presentación</label>
                        <input required type="number" class="form-control" id="pst_id" name="pst_id" ng-model="infoInputs['pst_id']">
                    </div>
                    <div class="col-md-12">
                        <label for="nro" ng-class="{'text-danger':form.pst_nom.$error.required == true}">Nombre de Presentación</label>
                        <input required type="text" class="form-control" id="pst_nom" name="pst_nom" ng-model="infoInputs['pst_nom']">
                    </div>
                    <div class="col-md-12">
                        <label for="nro" ng-class="{'text-danger':form.pst_snt.$invalid == true}">Código de Sunat</label>
                        <input required type="text" class="form-control" id="pst_snt" name="pst_snt" ng-model="infoInputs['pst_snt']">
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; align-items: flex-end;">
            <div role="group" aria-label="tools">
                <button class="btn btn-primary" ng-disabled="form.$error.required" ng-click="guardarPresent()">Guardar y Cerrar</button>
            </div>
        </div>
    </div>
</form>