<form name="form" novalidate>
    <div class="modal-header">
        <div class="pull-right">
            <div role="group" aria-label="tools">
                <button type="button" class="btn btn-link"><i class="ti-help"></i></button>
                <button type="button" class="btn btn-link"><i class="ti-settings"></i></button>
                <button type="button" class="btn btn-link" ng-click="cancel()"><i class="ti-close"></i></button>
            </div>
        </div>
        <h3 class="titulo-modal">Vehículos</h3>
    </div>
    <div class="container-fluid">
        <div class="modal-body" ng-controller="DatepickerDemoCtrl">
        
            <div class="row">

                <div class="row" style="padding: 10px;">

                    <div class="col-md-12">
                        <label for="serie" ng-class="{'text-danger':form.vh_cod.$invalid == true}">Codigo de Vehículo</label>
                        <input required type="number" class="form-control" id="vh_cod" name="vh_cod" ng-model="infoInputs['vh_cod']">
                    </div>
                    <div class="col-md-6">
                        <label for="nro" ng-class="{'text-danger':form.vh_mar.$error.required == true}">Marca</label>
                        <input required type="text" class="form-control" id="vh_mar" name="vh_mar" ng-model="infoInputs['vh_mar']">
                    </div>
                    <div class="col-md-6">
                        <label for="nro" ng-class="{'text-danger':form.vh_pla.$error.required == true}">Placa</label>
                        <input required type="text" class="form-control" id="vh_pla" name="vh_pla" ng-model="infoInputs['vh_pla']">
                    </div>
                    <div class="col-md-12">
                        <label for="nro" ng-class="{'text-danger':form.vh_mod.$error.required == true}">Modelo</label>
                        <input required type="text" class="form-control" id="vh_mod" name="vh_mod" ng-model="infoInputs['vh_mod']">
                    </div>
                    <div class="col-md-12">
                        <label for="nro" ng-class="{'text-danger':form.vh_des.$error.required == true}">Descripción</label>
                        <input required type="text" class="form-control" id="vh_des" name="vh_des" ng-model="infoInputs['vh_des']">
                    </div>

                </div>
            </div>
        </div>
        <div style="display: flex; align-items: flex-end;">
            <div role="group" aria-label="tools">
                <button class="btn btn-primary" ng-disabled="form.$error.required" ng-click="guardarVehiculo()">Guardar y Cerrar</button>
            </div>
        </div>
    </div>
</form>