


<style>

.btn-report{
 
    font-size: 20px;
    text-align:center;
    padding: 20px 10px;
    background: #002350 !important;
    border-radius:10px;
    transition: 0.3s;
}
.btn-report:hover{
    color:#fff;
    background: #007AFF !important;
}
.btn-report a{
    text-decoration: none;
    color:#fff;
}
.btn-report a:hover{
    text-decoration: none;
    color:#fff;
}


</style>
<!-- <div ng-controller="AsideModalTransaccionCtrl">

    <div class="container d-flex justify-content-around">
    
        <div class="row margin-top-20">
    
            <div class="col-md-3">
                    <div class="btn-report">
                    <a ng-click="reporteCompras()">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <p>
                            Reporte de Compras 
                        </p>              
                    </a>  
                    </div> 
            </div>
            <div class="col-md-3">
                    <div class="btn-report">
                    <a ng-click="reporteVentas()">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        <p>
                            Reporte de Ventas 
                        </p>              
                    </a>  
                    </div> 
            </div>
            <div class="col-md-3">
                    <div class="btn-report">
                    <a ng-click="reporteCosto()">
                        <i class="fa fa-analytics"></i>
                        <p>
                            Reporte de Costos  
                        </p>              
                    </a>  
                    </div> 
            </div>
    
      
        </div>
    
    <div class="row margin-top-20 text-center">
        <div class="center-block">

            <div class="col-md-3">
                <div class="btn-report">
                <a ng-click="reporteUtilidad()">
                    <i class="fa fa-coins"></i>
                    <p>
                        Reporte de Utilidad
                    </p>              
                </a>  
                </div> 
        </div>
            <div class="col-md-3">
                <div class="btn-report">
                <a ng-click="()">
                    <i class="fa fa-coins"></i>
                    <p>
                        Reporte de General de Utilidad
                    </p>              
                </a>  
                </div> 
        </div>
        </div>
    </div>
    </div>
</div> -->
<div ng-controller="AsideModalTransaccionCtrl"> 

    <div class="container d-flex justify-content-around">
    
        <div class="ui equal width centered grid margin-top-20">
    
            <div class="column">
                    <div class="btn-report">
                    <a ng-click="reporteCompras()">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <p>
                            Reporte de Compras 
                        </p>              
                    </a>  
                    </div> 
            </div>
            <div class="column">
                    <div class="btn-report">
                    <a ng-click="reporteVentas()">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        <p>
                            Reporte de Ventas 
                        </p>              
                    </a>  
                    </div> 
            </div>
            <div class="column">
                    <div class="btn-report">
                    <a ng-click="reporteCosto()">
                        <i class="fa fa-analytics"></i>
                        <p>
                            Reporte de Costos  
                        </p>              
                    </a>  
                    </div> 
            </div>
    
            <div class="equal width row">
                    <div class="column">
                        <div class="btn-report">
                        <a ng-click="reporteUtilidad()">
                            <i class="fa fa-coins"></i>
                            <p>
                                Reporte de Utilidad
                            </p>              
                        </a>  
                        </div> 
                </div>
                    <div class="column">
                        <div class="btn-report">
                        <a ng-click="reporteGeneralUtilidad()">
                            <i class="fa fa-coins"></i>
                            <p>
                                Reporte de General de Utilidad
                            </p>              
                        </a>  
                        </div> 
                </div>
              
            </div>
        </div>
    </div>
</div> 