<form action="form" novalidate>
    <div class="modal-header">
        <button type="button" class="btn btn-link"><i class="ti-help"></i></button>
        <button type="button" class="btn btn-link"><i class="ti-settings"></i></button>
        <button type="button" class="btn btn-link" ng-click="cancel()"><i class="ti-close"></i></button>
        <h3 class="titulo-modal">Porcentaje de Aportaciones</h3>
    </div>
    <div class="container-fluid">
        <div class="modal-body" style="padding: 30px;" ng-controller="DatepickerDemoCtrl">
            <pre>
                {{infoInputs | json}}
            </pre>
            <div class="row">
               
                <div class="col-md-12">
                    <label for="nro" ng-class="{'text-danger':form.porapor_nom.$error.required == true}">Descripción</label>
                    <input required type="text" class="form-control" id="porapor_nom" name="porapor_nom" ng-model="infoInputs['porapor_nom']">
                </div>
    
            </div>
        </div>
    </div>
    <div style="display: flex; align-items: flex-end;">
        <div role="group" aria-label="tools">
            <button class="btn btn-primary" ng-disabled="form.$error.required" ng-click="guardarPerAport(FALTA TABLA)">Guardar</button>
            <button class="btn btn-primary" ng-disabled="form.$error.required" ng-click="guardarPerAportycerrar(FALTA TABLA)">Guardar y Cerra</button>
        </div>
    </div>
</form>