<form name="form">
    <div class="modal-header">
        <div class="pull-right">
            <div role="group" aria-label="tools">
                <button type="button" class="btn btn-link"><i class="ti-help"></i></button>
                <button type="button" class="btn btn-link"><i class="ti-settings"></i></button>
                <button type="button" class="btn btn-link" ng-click="cancel()"><i class="ti-close"></i></button>
            </div>
        </div>
        <h3 class="titulo-modal">Lote Producción</h3>
    </div>
    <div class="container-fluid">
        <div class="modal-body" style="padding: 30px;" ng-controller="DatepickerDemoCtrl">
    
            <div class="row">

                <div class="col-md-12">
                    <label for="nro" ng-class="{'text-danger':form.lotpro_cod.$invalid == true}">Código de Lote</label>
                    <input required type="text" class="form-control" id="lotpro_cod" name="lotpro_cod" ng-model="infoInputs['lotpro_cod']">
                </div>

                <div class="col-md-12">
                    <label for="nro" ng-class="{'text-danger':form.lotpro_nom.$error.required == true}">Descripción de Lote</label>
                    <input required type="text" class="form-control" id="lotpro_nom" name="lotpro_nom" ng-model="infoInputs['lotpro_nom']">
                </div>

            </div>
        </div>
    </div>
    <div style="display: flex; align-items: flex-end;">
        <div role="group" aria-label="tools">
            <button class="btn btn-primary" ng-disabled="form.$error.required" ng-click="guardarLotpro()">Guardar y Cerrar</button>
        </div>
    </div>
</form>