<div ng-controller="puntoVentaMedicinaCtrl">
    <form id="formulario_core" name="form" novalidate>
        <div ng-controller="SelectCtrl">
            <!--       <div class="margin-top-30" ng-controller="AsideModalTransaccionCtrl">
                <div class="pull-right">
                    <div role="group" aria-label="tools">
                        <button class="btn btn-primary" ng-click="ajustesPredeterminadosPuntoVenta()"><i
                                class="fal fa-cogs"></i></button>
                    </div>
                </div>
            </div> -->
            <div class="container-fluid margin-top-20">
                <div class="row">
                    <div class="col-md-8">
                        <div style="background: #fff !important; border-radius: 10px;padding: 15px;">
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left:30px ;">
                                            <div class="two fields">
                                                <div class="field">
                                                    <label for="moneda"> Lista de Precio </label>
                                                    <select ng-model="infoInputs['lp_id']" class="ui fluid dropdown"
                                                        id="lp_id" name="lp_id" ng-init="buscarOption(rr.lp_id)">
                                                        <option value="{{opt.id}}" ng-repeat="opt in units['lp_id']">
                                                            {{opt.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-left:30px ;">
                                            <div class="two fields">
                                                <div class="field">
                                                    <label for="alm_id">Almacen</label>
                                                    <select ng-model="infoInputs['cd_alm']" class="ui fluid dropdown"
                                                        id="alm_id" name="alm_id" ng-init="buscarOption(rr.alm_id)">
                                                        <option value="{{opt.id}}" ng-repeat="opt in units['alm_id']">
                                                            {{opt.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="pst">
                                                Presentación
                                            </label>
                                            <select ng-model="productos.selected.pst_id" class="form-control "
                                                id="pst_id" name="pst_id" ng-init="buscarOption(rr.pst_id)">
                                                <option value="{{opt.id}}" ng-repeat="opt in units['pst_id']">
                                                    {{opt.label}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="vd_pre">Precio</label>
                                            <input ng-model="productos.selected.vd_pre" type="text" class="form-control"
                                                id="vd_pre" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="stock">Stock</label>
                                            <input ng-model="productos.selected.stock" type="text" class="form-control"
                                                id="stock" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <label>
                                            Productos y Servicios
                                        </label>
                                        <div class="input-group">
                                            <ui-select name="pys" style="width: 100%; float: left;"
                                                ng-model="productos.selected" on-select="getComponenteDelMedicamento(productos.selected)" theme="bootstrap"
                                                autofocus="true">
                                                <ui-select-match placeholder="Escriba 3 letras para buscar">
                                                    {{$select.selected.pro_nom}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in productosData track by $index"
                                                    refresh="productosVentaGetAsyncronic($select.search,infoInputs.lp_id,infoInputs.cd_alm)"
                                                    refresh-delay="0" minimum-input-length="3">
                                                    <div class="item">
                                                        <div class="content">
                                                            <div>
                                                                <i ng-if="item.pro_tip==1" class="ti-shopping-cart"></i>
                                                                <!--mercaderia-->
                                                                <i ng-if="item.pro_tip==2" class="ti-package"></i>
                                                                <!--materia prima-->
                                                                <i ng-if="item.pro_tip==3" class="ti-package"></i>
                                                                <!--Materiales-->
                                                                <i ng-if="item.pro_tip==4" class="ti-package"></i>
                                                                <!--embalaje-->
                                                                <i ng-if="item.pro_tip==5" class="ti-package"></i>
                                                                <!--Repuesto-->
                                                                <i ng-if="item.pro_tip==6" class="ti-package"></i>
                                                                <!--Envases-->
                                                                <i ng-if="item.pro_tip==7" class="ti-hummer"></i>
                                                                <!--suministros-->
                                                                <b>{{item.pro_nom}}</b>
                                                            </div>
                                                            <div class="description">{{item.pst_nom}} S/
                                                                {{item.vd_pre | number : 2}}</div>
                                                        </div>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="productos.selected = undefined"
                                                    class="btn btn-primary">
                                                    <i class="fal fa-trash"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <!-- <div class="col-md-4">
                                        <label for="pst">
                                                Código de Barra
                                            </label>
                                        <select ng-model="productos.selected.vd_bar" class="form-control" id="vd_bar" name="vd_bar">
                                                <option value="{{opt.id}}" ng-repeat="opt in units['vd_bar']">{{opt.label}}</option>
                                            </select>
                                    </div> -->

                                    <div class="col-md-2">
                                        <label for="vd_can">Cantidad</label>
                                        <input ng-model="productos.selected.vd_can" type="text" class="form-control"
                                            id="vd_can">
                                    </div>

                                    <div class="col-md-1">
                                        <button class="btn btn-primary" style="margin-top: 30px;"
                                            ng-click="additem(productos.selected)">Insertar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div style="height: 350px; overflow-y: scroll;">
                                    <table class="table table-hover ">
                                        <thead>
                                            <tr>
                                                <th class="center">NRO</th>
                                                <th>DESCRIPCIÓN</th>
                                                <th class="col-md-1">CANTIDAD</th>
                                                <th class="col-md-1">PRECIO</th>
                                                <th class="col-md-1">TOTAL</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in itemListVentas" class="">
                                                <td class="center">{{$index + 1}}</td>
                                                <td> {{item.pro_nom}}</td>
                                                <td class="col-md-1"><input type="text" class="form-control"
                                                        ng-model="item.vd_can" ng-blind="item.vd_can" id="vd_can"></td>
                                                <td class="col-md-1"><input type="text" class="form-control"
                                                        ng-model="item.vd_pre" ng-blind="item.vd_pre" id="vd_pre"
                                                        readonly></td>
                                                <td class="col-md-1">
                                                    <p>{{item.vd_pre * item.vd_can}}</p>
                                                </td>
                                                <td class="hidden">
                                                    <div class="hidden">
                                                        <pre>
                                                        <!--almacen del producto-->
                                                        almacen: {{item.cd_alm = infoInputs.cd_alm}}
                                                        <!--factor del producto-->
                                                        factor :{{item.vd_fac}}
                                                        <!--vd_igv porcentaje de igv del producto-->
                                                        vd_igv:{{item.vd_igv = item.vd_igv}}
                                                        <!--vd_tt_igv igv unico del producto-->
                                                        vd_igv_unico:{{item.vd_igv_unico = item.vd_tt_igv}}
                                                        <!--vd_total_igv igv total del producto-->
                                                        vd_total_igv: {{item.vd_total_igv = item.vd_tt_igv * item.vd_can}}
                                                        <!--vd_affection_igv_type_code tipo de igv del producto-->
                                                        vd_affection_igv_type_code:{{item.vd_affection_igv_type_code}}
                                                        <!--costo del producto-->
                                                        vd_costo_pro: {{item.vd_costo_pro = item.vd_costo_total}}
                                                        <!--costo del producto-->
                                                        vd_costo_tt_pro: {{item.vd_costo_tt_pro = item.vd_costo_total * item.vd_can}}
                                                        <!--precio de venta del producto-->
                                                        vd_pre:{{item.vd_pre}}
                                                        <!--precio de venta total-->
                                                        vd_pre_total:{{ item.vd_pre_total = item.vd_pre * item.vd_can}}
                                                        <!--vd_isc porcentaje de isc -->
                                                        vd_isc:{{item.isc}}
                                                        <!--vd_isc porcentaje de isc -->
                                                        vd_total_isc:{{item.vd_total_isc = item.vd_pre_total * item.isc}}
                                                        <!--vd_ina total inafecto -->
                                                        vd_ina:{{item.vd_ina}}
                                                        lp_id:{{item.lp_id = infoInputs.lp_id}}

                                                        
                                                        Cantidad: {{item.Cantidad = item.vd_can}}
                                                        MtoValorUnitario: {{item.MtoValorUnitario = item.vd_val}}
                                                        MtoValorVenta: {{item.MtoValorVenta = item.MtoValorUnitario * item.vd_can}}
                                                        MtoBaseIgv: {{item.MtoBaseIgv = item.MtoValorVenta}}
                                                        PorcentajeIgv: {{item.PorcentajeIgv = item.vd_igv}}
                                                        Igv: {{item.Igv = item.MtoValorVenta * 0.18 }}
                                                        TipAfeIgv: {{item.TipAfeIgv = 10 }}
                                                        TotalImpuestos: {{item.TotalImpuestos =  item.Igv}}
                                                        MtoPrecioUnitario: {{item.MtoPrecioUnitario =  item.vd_pre }}

                           <!--                         ->setUnidad('NIU')
                                                        ->setDescripcion('PROD 1')
                                                        ->setCantidad(2)
                                                        ->setMtoValorUnitario(100)
                                                        ->setMtoValorVenta(200)
                                                        ->setMtoBaseIgv(200)
                                                        ->setPorcentajeIgv(18)
                                                        ->setIgv(36)
                                                        ->setTipAfeIgv('10') // Catalog: 07
                                                        ->setTotalImpuestos(36)
                                                        ->setMtoPrecioUnitario(118); */
 -->
                                                        <!--
                                                           ()   vd_fac: val.lpd_fac,// factor del producto
                                                           ()   vd_costo_total:val.falso_monto,//costo del producto
                                                           ()   vd_com: val.lpd_com,//precio de venta
                                                           ()   vd_val: val.lpd_vpre,//precio sin igv (monto bruto)
                                                           ()   vd_igv: val.lpd_porcentaje_igv, //porcentaje de igv 
                                                           ()   vd_tt_igv: val.lpd_valor_igv,// valor del igv
                                                           ()    vd_pre: val.lpd_pre,// precio de venta
                                                                    -->
                                                        </pre>
                                                    </div>
                                                </td>
                                                <td class="center ">
                                                    <a class="btn btn-red" href="# " ng-click="eliminarItem($index) "><i
                                                            class="glyphicon glyphicon-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-controller="itemsCtrl">
                        <div style="background: #fff !important; border-radius: 10px;margin: 5px;padding: 15px;">
                            <div style="text-align: center; background: #007AFF; color: #fff;">
                                <ul class="list-unstyled amounts text-small">
                                    <li class="text-extra-large text-dark "
                                        style="padding-top: 2px ; font-size: 13px !important; color: #fff !important;">
                                        Grabado total:
                                        {{infoInputs.ven_afe = ((getMontoTotalAfecto() / valorIgvConvertido)).toFixed(2) | number:2}}
                                        <br />
                                        No Grabado total:
                                        {{infoInputs.ven_ina = ((getMontoTotalInafecto())).toFixed(2) | number:2}}
                                    </li>
                                    <li class="text-extra-large text-dark "
                                        style="border-bottom:1px solid; padding: 2px 0px; font-size: 13px !important; color: #fff !important;">
                                        IGV / IVA:
                                        {{infoInputs.ven_igv = (getMontoIgv(getMontoTotalAfecto())) | number: 2}}
                                    </li>
                                    <li class="text-extra-large text-dark "
                                        style="padding-bottom: 2px; font-size: 15px !important; color: #fff !important;">
                                        <strong>Total: </strong>
                                        {{infoInputs.ven_totdoc = (getMontoTotalInafecto() + getMontoTotalAfecto()) - getMontoDescuento | number:2}}
                                    </li>
                                </ul>
                            </div>
                            <div style="height: 200px;">
                                <div class="col-md-3">
                                    <label for="vd_pre">Laboratorio</label>
                                    <input ng-model="productos.selected.vd_pre" readonly type="text" class="form-control"
                                        id="vd_pre">
                                </div>
                                <div class="col-md-3">
                                    <label for="vd_pre">Aplicación</label>
                                    <input ng-model="productos.selected.vd_pre" readonly type="text" class="form-control"
                                        id="vd_pre">
                                </div>
                                <div class="col-md-3">
                                    <label for="vd_pre">Ubicación</label>
                                    <input ng-model="productos.selected.vd_pre" readonly type="text" class="form-control"
                                        id="vd_pre">
                                </div>
                                <div class="col-md-3">
                                    <label for="vd_pre">F. Médica</label>
                                    <input ng-model="productos.selected.vd_pre" readonly type="text" class="form-control"
                                        id="vd_pre">
                                </div>
                                <div class="col-md-12 margin-top-5">
                                    <div class="panel panel-green">
                                        <div class="panel-heading">
                                            <b class="panel-title">Sustancia Activa</b>
                                        </div>
                                        <div class="panel-body">
                                            <form name="myForm" class="">
                                                <div class="col-md-6">
                                                    <button class="btn btn-success margin-top-5"> Automático </button>
                                                    <button class="btn btn-success margin-top-5"> Receta Médica </button>
                                                    <button class="btn btn-success margin-top-5"> Sugerencia </button>
                                                </div>
                                            </form>
                                            <div class="col-md-6">
                                                <a ng-repeat="item in itemsComponentes track by $index" class="badge">
                                                   {{ item.cpt_nom }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="col-md-3">
                                            <div class="two fields">
                                                <div class="field">
                                                    <label for="td_id"
                                                        ng-class="{'text-danger':form.td_id.$invalid == true}">
                                                        Documento
                                                    </label>
                                                    <select class="ui fluid dropdown" required
                                                        ng-model="infoInputs['td_id']" id="td_id" name="td_id"
                                                        ng-init="buscarOption(rr.td_id)"
                                                        ng-change="serializador(infoInputs.td_id)">
                                                        <option value="{{opt.id}}" ng-repeat="opt in units['td_id']">
                                                            {{opt.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ven_ser">Serie</label>
                                            <select ng-init="serializador(infoInputs['td_id'])"
                                                class="ui fluid dropdown" required ng-model="infoInputs.ven_serSel"
                                                id="ven_serSel" name="ven_serSel"
                                                ng-options="item as item.tds_ser for item in serialSelector track by item.tds_ser">
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="hidden">
                                                {{infoInputs.ven_serieID = (serialSelector | filter : {'id':infoInputs.ven_serSel.id})[0].id }}
                                                {{infoInputs.ven_ser = (serialSelector | filter : {'id':infoInputs.ven_serSel.id})[0].tds_ser }} {{infoInputs.ven_num = (serialSelector | filter : {'id':infoInputs.ven_serSel.id})[0].tds_cor
                                            }}
                                            </div>

                                            <label for="ven_num">Numero</label>
                                            <input type="text" class="form-control" id="ven_num"
                                                ng-model="infoInputs.ven_num" readonly>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="two fields">
                                                <div class="field">
                                                    <label for="moneda">
                                                        Pago
                                                    </label>
                                                    <select ng-model="infoInputs['fp_id']" class="ui fluid dropdown"
                                                        id="fp_id" name="fp_id" ng-init="buscarOption(rr.fp_id)">
                                                        <option value="{{opt.id}}" ng-repeat="opt in units['fp_id']">
                                                            {{opt.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="moneda"
                                                    ng-class="{'text-danger':form.mnd_id.$invalid == true}">
                                                    Moneda
                                                </label>
                                                <select ng-disabled="infoInputs['td_id']=='IV'"
                                                    class="ui fluid dropdown" required ng-model="infoInputs['mnd_id']"
                                                    id="mnd_id" name="mnd_id" ng-init="buscarOption(rr.mnd_id)">
                                                    <option value="{{opt.id}}" ng-repeat="opt in units['mnd_id']">
                                                        {{opt.label}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ven_fecemi"
                                                    ng-class="{'text-danger':form.ven_fecemi.$invalid == true }">Fecha
                                                    De
                                                    Emision</label>
                                                <div class="">
                                                    <input type="date" name="ven_fecemi" id="ven_fecemi"
                                                        class="form-control" ng-model="infoInputs['ven_fecemi']"
                                                        ng-required="true" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label ng-class="{'text-danger':form.select_ane_id.$invalid == true}">
                                                Cliente
                                            </label>
                                            <div class="input-group">
                                                <div class="">
                                                    <ui-select required name="select_ane_id"
                                                        style="width: 100%; float: left;"
                                                        ng-model="infoInputs['select_ane_id']" theme="bootstrap">
                                                        <ui-select-match
                                                            placeholder="Escriba 3 letras Para Empezar a Buscar">
                                                            {{$select.selected.ane_alias}}
                                                        </ui-select-match>
                                                        <ui-select-choices class=""
                                                            repeat="item in proveedoresList[0] track by $index"
                                                            refresh="clientesGetAsyncronic($select.search)"
                                                            refresh-delay="0">
                                                            <div>
                                                                <span ng-if="item.ane_tipdoc == 11"
                                                                    class="glyphicon glyphicon-user"></span>
                                                                <span ng-if="item.ane_tipdoc == 6"
                                                                    class="glyphicon glyphicon-briefcase"></span>
                                                                <span
                                                                    ng-bind-html="item.ane_alias | highlight: $select.search"></span>
                                                                <br>
                                                                <small
                                                                    ng-bind-html="item.ane_numdoc | highlight: $select.search"></small>
                                                                <br>
                                                                <small ng-bind-html="item.ane_email"></small>
                                                            </div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <span class="input-group-btn">
                                                    <button ng-click="nuevocliente()" class="btn btn-primary">
                                                        <i class="fal fa-user-plus"></i>
                                                    </button>
                                                </span>
                                                <div class="hidden">
                                                    {{ infoInputs.ane_id = infoInputs.select_ane_id.ane_id}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-block margin-top-15"
                                                style="padding:15px 0px; font-size: 20px;"
                                                ng-click="guardarPuntoVenta(infoInputs,itemListVentas)">
                                                <strong>Generar Cobro</strong>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </form>
</div>