
<style>
/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.19.8 - 2017-04-18T05:43:43.881Z
 * License: MIT
 */


/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold;
}

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}


.ui-select-choices-row:hover {
  background-color: #f5f5f5;
}

/* Select2 theme */

/* Mark invalid Select2 */
.ng-dirty.ng-invalid > a.select2-choice {
    border-color: #D44950;
}

.select2-result-single {
  padding-left: 0;
}

.select2-locked > .select2-search-choice-close{
  display:none;
}

.select-locked > .ui-select-match-close{
    display:none;
}

body > .select2-container.open {
  z-index: 9999; /* The z-index Select2 applies to the select2-drop */
}

/* Handle up direction Select2 */
.ui-select-container[theme="select2"].direction-up .ui-select-match,
.ui-select-container.select2.direction-up .ui-select-match {
    border-radius: 4px; /* FIXME hardcoded value :-/ */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.ui-select-container[theme="select2"].direction-up .ui-select-dropdown,
.ui-select-container.select2.direction-up .ui-select-dropdown {
    border-radius: 4px; /* FIXME hardcoded value :-/ */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-top-width: 1px;  /* FIXME hardcoded value :-/ */
    border-top-style: solid;

    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);

    margin-top: -4px; /* FIXME hardcoded value :-/ */
}
.ui-select-container[theme="select2"].direction-up .ui-select-dropdown .select2-search,
.ui-select-container.select2.direction-up .ui-select-dropdown .select2-search {
    margin-top: 4px; /* FIXME hardcoded value :-/ */
}
.ui-select-container[theme="select2"].direction-up.select2-dropdown-open .ui-select-match,
.ui-select-container.select2.direction-up.select2-dropdown-open .ui-select-match {
    border-bottom-color: #5897fb;
}

.ui-select-container[theme="select2"] .ui-select-dropdown .ui-select-search-hidden,
.ui-select-container[theme="select2"] .ui-select-dropdown .ui-select-search-hidden input{
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
}

/* Selectize theme */

/* Helper class to show styles when focus */
.selectize-input.selectize-focus{
  border-color: #007FBB !important;
}

/* Fix input width for Selectize theme */
.selectize-control.single > .selectize-input > input {
  width: 100%;
}

/* Fix line break when there's at least one item selected with the Selectize theme */
.selectize-control.multi > .selectize-input > input {
  margin: 0 !important;
}

/* Fix dropdown width for Selectize theme */
.selectize-control > .selectize-dropdown {
  width: 100%;
}

/* Mark invalid Selectize */
.ng-dirty.ng-invalid > div.selectize-input {
    border-color: #D44950;
}

/* Handle up direction Selectize */
.ui-select-container[theme="selectize"].direction-up .ui-select-dropdown {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
    margin-top: -2px; /* FIXME hardcoded value :-/ */
}

.ui-select-container[theme="selectize"] input.ui-select-search-hidden{
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
    width: 0;
}

/* Bootstrap theme */

/* Helper class to show styles when focus */
.btn-default-focus {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ui-select-bootstrap .ui-select-toggle {
  position: relative;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
  position: absolute;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px;
}

/* Fix Bootstrap dropdown position when inside a form-group */
.form-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.form-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
  border-radius: 4px !important; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ui-select-bootstrap .ui-select-search-hidden{
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
}

.ui-select-bootstrap > .ui-select-match > .btn{
  /* Instead of center because of .btn */
  text-align: left !important;
}

.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices ,.ui-select-bootstrap > .ui-select-no-choice {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: -1px;
}

body > .ui-select-bootstrap.open {
  z-index: 1000; /* Standard Bootstrap dropdown z-index */
}

.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3px 3px 0 3px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important; /* To prevent double background when disabled */
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3px 3px 0;
}

.ui-select-multiple .ui-select-match-item {
  position: relative;
}

.ui-select-multiple .ui-select-match-item.dropping .ui-select-match-close {
  pointer-events: none;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca;
}

.ui-select-bootstrap .ui-select-choices-row>span {
    cursor: pointer;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.ui-select-bootstrap .ui-select-choices-row>span:hover, .ui-select-bootstrap .ui-select-choices-row>span:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.ui-select-bootstrap .ui-select-choices-row.active>span {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.ui-select-bootstrap .ui-select-choices-row.disabled>span,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
    display: none !important;
}

/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
    border-color: #D44950;
}

/* Handle up direction Bootstrap */
.ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}

.ui-select-bootstrap .ui-select-match-text {
    width: 100%;
    padding-right: 1em;
}
.ui-select-bootstrap .ui-select-match-text span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.ui-select-bootstrap .ui-select-toggle > a.btn {
  position: absolute;
  height: 10px;
  right: 10px;
  margin-top: -2px;
}

/* Spinner */
.ui-select-refreshing.glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
 }

@-webkit-keyframes ui-select-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ui-select-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.ui-select-spin {
  -webkit-animation: ui-select-spin 2s infinite linear;
  animation: ui-select-spin 2s infinite linear;
}

.ui-select-refreshing.ng-animate {
  -webkit-animation: none 0s;
}

</style>

<form id="formulario_core" name="form" novalidate>
    <div ng-controller="SelectCtrl">
        <div class="modal-header" ng-controller="itemsCtrl">
            <div class="pull-right">
                <div role="group" aria-label="tools">
                    <button class="btn btn-primary" ng-disabled="form.$error.required"
                        ng-click="guardarVenta()">Guardar</button>
                    <button type="button" class="btn btn-link"><i class="ti-help"></i></button>
                    <button type="button" class="btn btn-link"><i class="ti-settings"></i></button>
                    <button type="button" class="btn btn-link" ng-click="cancel($event)"><i
                            class="ti-close"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <select class="ui fluid dropdown" required ng-model="infoInputs['tipo_ope_sunat']" id="tipo_ope_sunat"
                    name="tipo_ope_sunat" ng-init="buscarOption(rr.tipo_ope_sunat)">
                    <option value="{{opt.id}}" ng-repeat="opt in units['tipo_ope_sunat']">
                        {{opt.label}}
                    </option>
                </select>
            </div>
        </div>
        <div class="container-fluid">
            <div class="modal-body">
                <div ng-controller="itemsCtrl">
                    <div class="row" style="background-color: #eee;">
                        <div class="col-md-10">
                            <div class="row">

                                <div class="col-md-1">
                                    <div class="form-group">
                                        <div class="two fields">
                                            <div class="field">
                                                <label for="td_id"
                                                    ng-class="{'text-danger':form.td_id.$invalid == true}">
                                                    Documento
                                                </label>
                                                <select class="ui fluid dropdown" required
                                                    ng-model="infoInputs['td_id']" id="td_id" name="td_id"
                                                    ng-init="buscarOption(rr.td_id)"
                                                    ng-change="serializador(infoInputs.td_id)">
                                                    <option value="{{opt.id}}" ng-repeat="opt in units['td_id']">
                                                        {{opt.label}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="ven_ser">Serie</label>
                                        <select ng-init="serializador(infoInputs['td_id'])" class="ui fluid dropdown"
                                            required ng-model="infoInputs.ven_serSel" id="ven_serSel" name="ven_serSel"
                                            ng-options="item as item.tds_ser for item in serialSelector track by item.tds_ser">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="hidden">
                                            {{infoInputs.ven_serieID = (serialSelector | filter : {'id':infoInputs.ven_serSel.id})[0].id }}
                                            {{infoInputs.ven_ser = (serialSelector | filter : {'id':infoInputs.ven_serSel.id})[0].tds_ser }} {{infoInputs.ven_num = (serialSelector | filter : {'id':infoInputs.ven_serSel.id})[0].tds_cor
                                            }}
                                        </div>

                                        <label for="ven_num">Numero</label>
                                        <input type="text" class="form-control" id="ven_num"
                                            ng-model="infoInputs.ven_num" readonly>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                                <label class="col-sm-3 control-label" ng-class="{'text-danger':form.select_ane_id.$invalid == true}">Clientes</label>

                                              <ui-select class="ui fluid dropdown" ng-model="infoInputs['select_ane_id']" theme="selectize" title="Choose a person">
                                                <ui-select-match placeholder="Escriba 3 letras Para Empezar a Buscar">{{$select.selected.ane_alias}}</ui-select-match>
                                                <ui-select-choices repeat="item in proveedoresList[0] track by $index" refresh="clientesGetAsyncronic($select.search)"  refresh-delay="0">
                                                  <div ng-bind-html="item.ane_alias | highlight: $select.search"></div>
                                                  <small ng-bind-html="item.ane_numdoc | highlight: $select.search"></small>
                                                </ui-select-choices>
                                              </ui-select>

                                              <div class="hidden">
                                                  {{ infoInputs.ane_id = infoInputs.select_ane_id.ane_id}}
                                              </div>
                                              <div class="input-group col-md-12 hidden"
                                              ng-if="infoInputs.docRelacionado == true">
                                              <input type="text" class="form-control" id="anexo_name"
                                                  ng-bind="infoInputs.anexo_display_name"
                                                  ng-value="infoInputs.anexo_display_name" readonly>
                                          </div>
                                            </div>

                                        </div>
                
                                

                                <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="fp_id" ng-class="{'text-danger':form.fp_id.$invalid == true}">
                                                Condición de Pago
                                            </label>
                                            <select class="ui fluid dropdown" required ng-model="infoInputs['fp_id']"
                                                id="fp_id" name="fp_id" ng-init="buscarOption(rr.fp_id)">
                                                <option value="{{opt.id}}" ng-repeat="opt in units['fp_id']">
                                                    {{opt.label}}
                                                </option>
                                            </select>
                                        </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="form-group">
                                            <label for="moneda" ng-class="{'text-danger':form.mnd_id.$invalid == true}">
                                                Moneda
                                            </label>
                                            <select ng-disabled="infoInputs['td_id']=='IV'" class="ui fluid dropdown"
                                                required ng-model="infoInputs['mnd_id']" id="mnd_id" name="mnd_id"
                                                ng-init="buscarOption(rr.mnd_id)">
                                                <option value="{{opt.id}}" ng-repeat="opt in units['mnd_id']">
                                                    {{opt.label}}
                                                </option>
                                            </select>
                                        </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="two fields">
                                            <div class="field">
                                                <label for="lp_id"
                                                    ng-class="{'text-danger':form.lp_id.$invalid == true }">
                                                    Lista de Precio
                                                </label>
                                                <select ng-model="infoInputs['lp_id']" class="ui fluid dropdown"
                                                    id="lp_id" name="lp_id" ng-init="buscarOption(rr.lp_id)" required>
                                                    <option value="{{opt.id}}" ng-repeat="opt in units['lp_id']">
                                                        {{opt.label}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="ven_fecemi"
                                            ng-class="{'text-danger':form.ven_fecemi.$invalid == true }">Fecha De
                                            Emision</label>
                                        <div class="">
                                            <input type="date" name="ven_fecemi" id="ven_fecemi"
                                                class="form-control" ng-model="infoInputs['ven_fecemi']"
                                                ng-required="true" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="ven_fecven"
                                            ng-class="{'text-danger':form.ven_fecven.$invalid == true }">Fecha De
                                            Venc.</label>
                                        <div class="">
                                            <input type="date" name="ven_fecven" id="ven_fecven"
                                                class="form-control" ng-model="infoInputs['ven_fecven']"
                                                ng-required="true">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="cd_alm" ng-class="{'text-danger':form.cd_alm.$invalid == true}">
                                            Almacén
                                        </label>
                                        <select class="ui fluid dropdown" required ng-model="infoInputs['cd_alm']"
                                            id="cd_alm" name="cd_alm" ng-init="buscarOption(rr.cd_alm)">
                                            <option value="{{opt.id}}" ng-repeat="opt in units['cd_alm']">
                                                {{opt.label}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="ven_obs">Observación</label>
                                        <input type="text" class="form-control" id="ven_obs"
                                            ng-model="infoInputs.ven_obs">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="ven_obs">
                                            Vendedor
                                        </label>
                                        <input type="text" class="form-control" ng-model="infoInputs['hash']">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cuadro col-md-6 pull-right">
                                <ul class="list-unstyled amounts text-small">
                                    <li class="text-extra-large text-dark margin-top-15">
                                        <strong>Total a Pagar:</strong>
                                        {{(getMontoTotalInafecto() + getMontoTotalAfecto()) - getMontoDescuento | number: misDecimales}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>
                                Productos y Servicios
                            </label>
                            <div class="form-group">
                                <ui-select style="width: 100%; float: left;" ng-model="productos.selected"
                                    theme="bootstrap">
                                    <ui-select-match placeholder="Escriba 3 letras para buscar">
                                        {{$select.selected.pro_nom}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in productosData track by $index"
                                        refresh="productosVentaGetAsyncronic($select.search,infoInputs.lp_id,infoInputs.cd_alm)"
                                        refresh-delay="0" minimum-input-length="3">
                                        <div class="item">
                                            <div class="content">
                                                <div>
                                                    <i ng-if="item.pro_tip==1" class="ti-shopping-cart"></i>
                                                    <!--mercaderia-->
                                                    <i ng-if="item.pro_tip==2" class="ti-package"></i>
                                                    <!--materia prima-->
                                                    <i ng-if="item.pro_tip==3" class="ti-package"></i>
                                                    <!--Materiales-->
                                                    <i ng-if="item.pro_tip==4" class="ti-package"></i>
                                                    <!--embalaje-->
                                                    <i ng-if="item.pro_tip==5" class="ti-package"></i>
                                                    <!--Repuesto-->
                                                    <i ng-if="item.pro_tip==6" class="ti-package"></i>
                                                    <!--Envases-->
                                                    <i ng-if="item.pro_tip==7" class="ti-hummer"></i>
                                                    <!--suministros-->
                                                    <b>{{item.pro_nom}}</b>
                                                </div>
                                                <div class="description">{{item.pst_nom}} S/
                                                    {{item.vd_pre | number : misDecimales}}</div>
                                            </div>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="form-group-btn">
                                    <button type="button" ng-click="productos.selected=undefined"
                                        class="btn btn-primary">
                                        <i class="fal fa-trash-o"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-1">
                                <label for="stock">Stock</label>
                                <input ng-model="productos.selected.stock" type="text" class="form-control" id="stock"
                                    readonly>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label for="pst_id">Presentación</label>
                            <input ng-model="productos.selected.pst_nom" type="text" class="form-control" id="pst_nom"
                                readonly>
                        </div>
                        <div class="col-md-1">
                            <label for="vd_pre">Precio</label>
                            <input ng-model="productos.selected.vd_pre | number: misDecimales" type="text" class="form-control" id="vd_pre">
                        </div>
                        <div class="col-md-1">
                            <label for="vd_can">Cantidad</label>
                            <input ng-model="productos.selected.vd_can" type="text" class="form-control" id="vd_can">
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" style="margin-top: 21px;"
                                ng-click="additem(productos.selected)">Insertar</button>
                        </div>
                    </div>
                </div>
                <div class="row " style="margin-top: 15px;">
                    <div class="col-md-10" style="height: 300px; overflow-y: scroll;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="center">NRO</th>
                                    <!--   <th class="center">TIP</th> -->
                                    <th>DESCRIPCIÓN</th>
                                    <th class="col-md-2">CANTIDAD</th>
                                    <th class="col-md-2">PRECIO</th>
                                    <th class="col-md-2">TOTAL</th>
                                    <th class="hidden">TEST</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in itemListVentas" class="">
                                    <td class="center">{{item.ven_position_obj = ($index + 1)}}</td>
                                    <!-- <td>{{item.pro_tip}}</td> -->
                                    <td>{{item.pro_nom}} {{item.pst_nom}}</td>
                                    <td class="col-md-2">
                                        <input type="text " class="form-control" ng-model="item.vd_can"
                                            ng-blind="item.vd_can" id="vd_can ">
                                    </td>
                                    <td class="col-md-2">
                                        <input type="text " class="form-control" ng-model="item.vd_pre | number: misDecimales"
                                            ng-blind="item.vd_pre" id="vd_pre" readonly>
                                    </td>
                                    <td class="col-md-2">
                                        {{item.vd_pre * item.vd_can | number: misDecimales}}
                                    </td>
                                    <td class="hidden">
                                        <div class="hidden">
                                            <pre>
                                            <!--almacen del producto-->
                                            almacen: {{item.cd_alm = infoInputs.cd_alm}}
                                            <!--factor del producto-->
                                            factor :{{item.vd_fac}}
                                            <!--vd_igv porcentaje de igv del producto-->
                                            vd_igv:{{item.vd_igv = item.vd_igv}}
                                            <!--vd_tt_igv igv unico del producto-->
                                            vd_igv_unico:{{item.vd_igv_unico = item.vd_tt_igv}}
                                            <!--vd_total_igv igv total del producto-->
                                            vd_total_igv: {{item.vd_total_igv = item.vd_tt_igv * item.vd_can}}
                                            <!--vd_affection_igv_type_code tipo de igv del producto-->
                                            vd_affection_igv_type_code:{{item.vd_affection_igv_type_code}}
                                            <!--costo del producto-->
                                            vd_costo_pro: {{item.vd_costo_pro = item.vd_costo_total}}
                                            <!--costo del producto-->
                                            vd_costo_tt_pro: {{item.vd_costo_tt_pro = item.vd_costo_total * item.vd_can}}
                                            <!--precio de venta del producto-->
                                            vd_pre:{{item.vd_pre}}
                                            <!--precio de venta total-->
                                            vd_pre_total:{{ item.vd_pre_total = item.vd_pre * item.vd_can}}
                                            <!--vd_isc porcentaje de isc -->
                                            vd_isc:{{item.isc}}
                                            <!--vd_isc porcentaje de isc -->
                                            vd_total_isc:{{item.vd_total_isc = item.vd_pre_total * item.isc}}
                                            <!--vd_ina total inafecto -->
                                            vd_ina:{{item.vd_ina}}
                                            lp_id:{{item.lp_id = infoInputs.lp_id}}
                                            
                                            Cantidad: {{item.Cantidad = item.vd_can}}
                                                        MtoValorUnitario: {{item.MtoValorUnitario = item.vd_val}}
                                                        MtoValorVenta: {{item.MtoValorVenta = item.MtoValorUnitario * item.vd_can}}
                                                        MtoBaseIgv: {{item.MtoBaseIgv = item.MtoValorVenta}}
                                                        PorcentajeIgv: {{item.PorcentajeIgv = item.vd_igv}}
                                                        Igv: {{item.Igv = item.MtoValorVenta * 0.18 }}
                                                        TipAfeIgv: {{item.TipAfeIgv = 10 }}
                                                        TotalImpuestos: {{item.TotalImpuestos =  item.Igv}}
                                                        MtoPrecioUnitario: {{item.MtoPrecioUnitario =  item.vd_pre }}
                                            </pre>
                                        </div>
                                    </td>

                                    <td class="center">
                                        <a class="btn btn-red" href="# " ng-click="eliminarItem($index)">
                                            <i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item ">
                                <span class="text-light ">Afecto</span><span
                                    class="pull-right">{{infoInputs.ven_afe = ((getMontoTotalAfecto() / valorIgvConvertido)) | number : misDecimales}}</span>
                            </li>
                            <li class="list-group-item ">
                                <span class="text-light ">Inafecto</span><span
                                    class="pull-right">{{ infoInputs.ven_ina = getMontoTotalInafecto() | number:misDecimales}}</span>
                            </li>
                            <li class="list-group-item ">
                                <span class="collapse-title text-warning">Descuento</span>
                                <span
                                    class="pull-right">{{ ((getMontoDescuento * 100) /(getMontoTotalInafecto() + getMontoTotalAfecto())) | number: misDecimales}}
                                    %</span>
                                <span>
                                    <div class="hidden">
                                        {{infoInputs.ven_totdscto = getMontoDescuento}}
                                    </div>
                                    <input type="number" name="getMontoDescuento" id="getMontoDescuento"
                                        class="form-control" ng-model="getMontoDescuento" min="0"
                                        max="{{(getMontoTotalInafecto() + getMontoTotalAfecto()) | number: misDecimales}}">
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span class="text-light">ISC</span><span class="pull-right">0</span>
                            </li>
                            <li class="list-group-item ">
                                <span class="text-light ">IGV/IVA</span><span
                                    class="pull-right ng-binding ">{{infoInputs.ven_igv = getMontoIgv(getMontoTotalAfecto()) | number: misDecimales}}</span>
                            </li>
                            <li class="list-group-item ">
                                <span class="text-light ">Documento</span><span class="pull-right ng-binding ">0</span>
                            </li>
                            <li class="list-group-item ">
                                <span class="text-light ">Percepción</span><span class="pull-right ">0</span>
                            </li>
                            <li class="list-group-item ">
                                <span class="text-dark ">Total Documento</span>
                                <span
                                    class="pull-right text-primary">{{infoInputs.ven_totdoc = (getMontoTotalInafecto() + getMontoTotalAfecto()) - getMontoDescuento | number: misDecimales}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row ">
                </div>
            </div>
        </div>
    </div>
</form>