<style>
    .contenedor {
        display: flex;
        justify-content: center;
        width: 150px;
        box-sizing: border-box;
    }

    /* Style The Dropdown Button */
    .dropbtn {
        border-radius: 4px;
        box-sizing: border-box;
        margin: 0px 1px;
        border: 1px solid rgb(160, 160, 160);
        background-color: #d4d4d4;
        /* width: auto; */
        color: #000;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 11px;
        cursor: pointer;
        transition: 0.3s;
    }

    .dropbtn:hover {
        background-color: white;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        right: 10px;
        bottom: 27px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #2eb132;
        color: white;
    }
</style>

<div class="container" ng-controller="ventasListaCtrl as showCase">
    <div ng-controller="AsideModalTransaccionCtrl">
        <!-- start: PAGE TITLE -->
        <div class="ui secondary menu">
            <a class="item" ui-sref-active="active"
                ng-class="{'active open':$state.includes('app.ventas.todaslasventas')}"
                ui-sref="app.ventas.todaslasventas">
                <span class="title" translate="sidebar.nav.ventas.TODASLASVENTAS">Todas las Ventas</span>
            </a>
            <a class="item" ui-sref-active="active" ng-class="{'active open':$state.includes('app.ventas.clientes')}"
                ui-sref="app.ventas.clientes">
                <span class="title" translate="sidebar.nav.ventas.CLIENTES">Clientes</span>
            </a>
            <div class="right menu">
                <div ncy-breadcrumb></div>
            </div>
        </div>
        <!-- start: PAGE TITLE -->
        <div class="row ">
            <div class="col-xs-12 col-md-6 col-sm-12">
                <h1 class="ui header" translate="sidebar.nav.todaslasventas.TODASLASVENTAS">
                    Todas las Ventas
                </h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-12">
                    <div class="btn-group dropdown pull-right" uib-dropdown="" is-open="status.isopen">
                        <button type="button" class=" btn btn-lg text-white btn btn-wide"
                            style="background-color:#002350; border-radius: 50px;" uib-dropdown-toggle=""
                            ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                            Nueva Transacción <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="venta()">
                                    Ventas
                                </a>
                                <a ng-click="cotizacionVenta()">
                                    Cotización
                                </a>
                                <a ng-click="remisionGuia()">
                                    Guía de Remisión
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown pull-right">
                        <button type="button" class=" btn btn-lg text-white btn btn-wide"
                            style="background-color:#002350; border-radius: 50px;" ng-click="enviarResumenBoletas()">
                            Resumen de Boletas
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-app="main" ng-controller="DemoCtrl3">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <button style="width: 225px;" type="button" class="btn boton6">
                        <h3 class="text-white"> S/ 50</h3>
                        1 Estimado
                    </button>
                    <button style="width: 225px;" type="button" class="btn btn-wide boton5">
                        <h3 class="text-white"> S/ 50</h3>
                        0 Actividad no facturada
                    </button>
                    <button style="width: 225px;" type="button" class="btn btn-wide boton">
                        <h3 class="text-white"> S/ 0</h3>
                        0 Atrasado
                    </button>
                    <button style="width: 225px;" type="button" class="btn btn-wide boton4"
                        ng-click="filtroPendientesPorCobrar()"
                        ng-class="{ 'activo4': statusfiltroPendientesPorCobrar == true}">
                        <h3 class="text-white"> S/ 15350</h3>
                        3 Facturas Abiertas
                    </button>
                    <button style="width: 225px;" type="button" class="btn btn-wide boton2">
                        <h3 class="text-white"> S/ 0</h3>
                        0 Pagados los ultimos 30 días
                    </button>
                </div>
            </div>
            <div class="row">
                <div ng-app="main" class="panel panel-white">
                    <!--   <div class="panel-body">
                       <div class="btn-group dropdown" uib-dropdown="">
                            <button type="button" class="btn btn-primary btn-squared dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            Acciones Por Selección <i class="fa fa-angle-down"></i>
                        </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a ng-click="realizarPagos(checkboxes.items)">
                                    Pagar Transacciónes
                                </a>
                                    <a ng-click="enviarComprobantes(checkboxes.items)">
                                    Enviar Comporbantes
                                </a>
                                </li>
                            </ul>
                        </div>
                        <a ng-click="showCase.changeData()" class="btn btn-wide btn-primary btn-squared">
                        change<i class="fa fa-refresh"></i>
                    </a>
                        <a ng-click="showCase.reloadData()" class="btn btn-wide btn-primary btn-squared">
                        Reload <i class="fa fa-refresh"></i>
                    </a> -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="ui table" width="100%" datatable="" dt-options="showCase.dtOptions"
                                dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>