<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet" data-semver="3.3.6" data-require="bootstrap-css@3.3.6" />
    <link data-require="fontawesome@4.5.0" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js" data-semver="2.1.4" data-require="jquery@*"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" data-semver="3.3.6" data-require="bootstrap@3.3.6"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Login</h1>
                <div id="wizard-container" class="view-container" ng-controller="WizardController as vm">
                    <div id="wizard-content-container" class="view">
                        <ng-include src="vm.getStepTemplate()"></ng-include>
                    </div>

                    <div id="wizard-navigation-container">
                        <div class="pull-right">
                            <span class="btn-group">
                                {{ vm.currentStep | json }}
                  <button ng-disabled="vm.currentStep <= 1" class="btn btn-default" name="previous" type="button" ng-click="vm.gotoStep(vm.currentStep - 1)"><i class="fa fa-arrow-left"></i> Regresar</button>
                  <button ng-show="vm.currentStep != 1" ng-disabled="vm.currentStep >= vm.steps.length" class="btn btn-primary" name="next" type="button" ng-click="vm.gotoStep(vm.currentStep + 1)">Next step <i class="fa fa-arrow-right"></i></button>
                  <button ng-show="vm.currentStep == 1" class="btn btn-primary" name="next" type="button" ng-click="vm.validateEmail()">Validar <i class="fa fa-arrow-right"></i></button>
                </span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</body>

</html>